.page {
  margin: 20px;
}

.table {
  margin: 20px 0;
}

.table-header {
  line-height: 2rem;
  font-size: 16px;
  justify-content: space-between;
}

.table-row {
  line-height: 24px;
  margin: 10px 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #e3e3e3;
}

th {
  text-align: left;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.button-active {
  border-radius: 0;
  border-bottom: 3px solid #38bb6c;
}
